<footer class="notepad-site-footer">
    <div class="copyright">
        <section>All content copyright <a href="/about">{{ site.owner.name }}</a> &copy; {{ site.time | date('YYYY') }}
            &bull; All rights reserved.
        </section>
        <section>Published with <a class="icon-ghost" href="https://www.11ty.dev/">11ty</a></section>
        <section>Based on <a href="https://github.com/hmfaysal/Notepad">Notepad</a> by <a
                    href="https://x.com/hmfaysal">@hmfaysal</a></section>
    </div>
    <div class="social-icons">

        {% if site.owner.twitter %}
            <a href="https://x.com/{{ site.owner.twitter }}">
                <span class="fa-stack fas-lg">
                    <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fab fa-x-twitter fa-stack-1x"></i>
                </span>
            </a>
        {% endif %}

        {% if site.owner.github %}
            <a href="https://github.com/{{ site.owner.github }}">
                <span class="fa-stack fas-lg">
                    <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fab fa-github fa-stack-1x"></i>
                </span>
            </a>
        {% endif %}

        {% if site.owner.mastodon %}
            <a href="{{ site.owner.mastodon }}">
                <span class="fa-stack fas-lg">
                    <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fab fa-mastodon fa-stack-1x"></i>
                </span>
            </a>
        {% endif %}

    </div>

    <div class="cf"></div>
</footer>
