<footer class="notepad-site-footer">
    <div class="copyright">
        <section>All content copyright <a href="/about">{{ site.owner.name }}</a> &copy; {{ site.time | date('YYYY') }}
            &bull; All rights reserved.
        </section>
        <section>Published with <a class="icon-ghost" href="https://www.11ty.dev/">11ty</a></section>
    </div>
    <div class="social-icons">

        {% if site.owner.bluesky %}
            <a href="https://bsky.app/profile/{{ site.owner.bluesky }}" aria-label="Bluesky"><i class="fa-brands fa-bluesky" aria-hidden="true"></i></a>
        {% endif %}

        {% if site.owner.github %}
            <a href="https://github.com/{{ site.owner.github }}" aria-label="GitHub"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
        {% endif %}

        {% if site.owner.mastodon %}
            <a href="https://mastodon.social/{{ site.owner.mastodon }}" aria-label="Mastodon"><i class="fa-brands fa-mastodon" aria-hidden="true"></i></a>
        {% endif %}

    </div>

    <div class="cf"></div>
</footer>
