<!DOCTYPE html>
<html>
<head>
{% include "head.njk" %}
</head>
<body class="post-template page">

<main id="notepad-page-container" class="notepad-page-container" role="main">


        <header class="notepad-page-header">
            <div class="notepad-page-menu-header">

                    <a class="notepad-blog-logo" href="/">
                        <img src="/img/{{ site.logo }}" alt="Blog Logo">
                    </a>



                <div class="notepad-blog-menu">
    <div class="notepad-mobile-menu show-for-small">
        <a href="#"><i class="fas fa-bars"></i></a>
    </div>
    <ul class="notepad-menu">
        <li class="notepad-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fas fa-times"></i></a>
        </li>
{% for link in site.links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
{% endfor %}
           <li><a href="/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>
    </ul>
</div>
            </div>
            <div class="notepad-page-title row">
                <div class="small-12 columns">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </header>

<article class="notepad-page-content">
                    <div>{{ content | safe }}</div>
</article>
        <div class="cf"></div>
    {% include "footer.njk" %}
</main>

{% include "scripts.njk" %}
</body>
</html>
