<!DOCTYPE html>
<html>
<head>
{% include "head.njk" %}
</head>
<body class="post-template page">
<header class="site-header">
  <div class="site-header-inner site-container">
    <nav class="site-nav">
        <div class="site-logo"><a href="/" aria-label="Home"><img src="/img/{{ site.logo }}" alt="Blog Logo"></a></div>
        <ul>
            <li class="mobile-menu-toggle show-for-small"><button aria-label="Open menu"><i class="fa-solid fa-bars" aria-hidden="true"></i></button></li>
            {% for link in site.links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            <li><a href="/feed.xml" title="Atom/RSS feed"><i class="fa-solid fa-rss" aria-hidden="true"></i> Feed</a></li>
        </ul>
    </nav>
    <div class="site-title-row">
        <h1>{{ title }}</h1>
    </div>
  </div>
</header>

<div class="site-container">
<main id="notepad-page-container" class="notepad-page-container" role="main">


<article class="notepad-page-content">
                    <div>{{ content | safe }}</div>
</article>
        <div class="cf"></div>
    {% include "footer.njk" %}
</main>

</div>

{% include "scripts.njk" %}
</body>
</html>
