<section style="text-align:center;margin:2rem 0;">
    <a href="https://x.com/intent/tweet?text=&quot;{{ page.title }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.owner.twitter }}"
       onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on X" style="margin:0 0.5rem;display:inline-flex;align-items:center;justify-content:center;width:36px;height:36px;border-radius:8px;background:rgba(0,0,0,0.05);">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M3 3l8.2 9.2L3.7 21h2.7l6.1-6.9 5.3 6.9H21l-8.7-11 7.9-9H17L11.5 7 7 3H3z"/></svg>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
       onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share on Facebook" style="margin:0 0.5rem;display:inline-flex;align-items:center;justify-content:center;width:36px;height:36px;border-radius:8px;background:rgba(0,0,0,0.05);">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M22 12.07C22 6.48 17.52 2 11.93 2S2 6.48 2 12.07c0 5 3.66 9.14 8.44 9.93v-7.03H7.9v-2.9h2.54V9.41c0-2.5 1.49-3.88 3.77-3.88 1.09 0 2.24.2 2.24.2v2.46h-1.26c-1.24 0-1.63.77-1.63 1.56v1.87h2.78l-.44 2.9h-2.34V22c4.78-.79 8.44-4.93 8.44-9.93z"/></svg>
    </a>
    <a href="https://mastodon.social/share?text=&quot;{{ page.title }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.owner.twitter }}"
       onclick="window.open(this.href, 'mastodon-share', 'width=550,height=235');return false;" title="Share on Mastodon" style="margin:0 0.5rem;display:inline-flex;align-items:center;justify-content:center;width:36px;height:36px;border-radius:8px;background:rgba(0,0,0,0.05);">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M12 2C6.477 2 2 6.216 2 11.2c0 3.454 1.88 6.517 4.74 8.14.35.18.49.04.49-.25 0-.12-.01-.52-.01-1.02-1.93.41-2.34-.95-2.34-.95-.33-.87-.8-1.1-.8-1.1-.65-.44.05-.43.05-.43.72.05 1.09.76 1.09.76.64 1.08 1.68.77 2.09.59.06-.46.25-.77.45-.95-1.54-.18-3.16-.77-3.16-3.44 0-.76.26-1.38.69-1.87-.07-.17-.3-.88.07-1.83 0 0 .57-.18 1.87.7a6.3 6.3 0 011.7-.23c.58 0 1.17.08 1.7.23 1.3-.88 1.87-.7 1.87-.7.37.95.14 1.66.07 1.83.43.49.69 1.11.69 1.87 0 2.67-1.63 3.26-3.18 3.43.26.22.49.66.49 1.33 0 .96-.01 1.74-.01 1.98 0 .29.13.44.5.25C20.12 17.717 22 14.654 22 11.2 22 6.216 17.523 2 12 2z"/></svg>
    </a>
</section>
