/* tools */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

html,
body {
    height: 100%;
}

.figure {
    margin-bottom: 10px;
    font-size: 1rem;
    display: inline-block;
}

.post-template .bg-img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    -webkit-backface-visibility: hidden;
}

.post-template .bg-img img {
    position: absolute;
    top: 0;
    /*left: 0;*/
    display: block;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.post-template button.trigger {
    position: fixed;
    bottom: 2.5rem;
    left: 50%;
    z-index: 5000;
    display: block;
    margin-left: -0.5em;
    padding: 0;
    width: 1em;
    height: 1em;
    border: none;
    background: transparent;
    color: transparent;
    font-size: 2em;
    cursor: pointer;
}

@media only screen and (max-device-width: 480px) {
    .post-template button.trigger {
        font-size: 4em;
    }
}

.post-template button.trigger.background--light::before,
.post-template button.trigger.background--light span::before {
    color: black;
}

.post-template button.trigger.background--dark::before,
.post-template button.trigger.background--dark span::before {
    color: white;
}

.post-template button.trigger::before {
    position: absolute;
    bottom: 100%;
    left: -200%;
    padding: 0.8em;
    width: 500%;
    color: black;
    content: attr(data-info);
    font-size: 1.125rem;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
}

.post-template button.trigger:focus {
    outline: none;
}

.post-template button.trigger span {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.post-template button.trigger span::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    content: "\f078";
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.post-template .intro-effect-sliced:not(.notrans) .bg-img {
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}

.post-template .intro-effect-sliced:not(.notrans) .bg-img {
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.post-template .intro-effect-sliced .bg-img:first-child {
    bottom: 50%;
}

.post-template .intro-effect-sliced .bg-img:last-child {
    top: 50%;
    position: fixed;
    z-index: 900;
}

.post-template .intro-effect-sliced .bg-img:last-child img {
    top: -100%;
}

.post-template .intro-effect-sliced.modify .bg-img:first-child {
    transform: translateY(-100%);
}

.post-template .intro-effect-sliced.modify .bg-img:last-child {
    transform: translateY(100%);
}


.page-title h1 {
    color: black;
    font-weight: 800;
    font-size: 3.125rem;
    padding: 0;
    padding-top: 5rem;
    padding-bottom: 4.375rem;
    margin: 0 auto;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 40.063em) {
    .page-title h1 {
        font-size: 4.375rem;
        padding-top: 5.625rem;
        padding-bottom: 5.625rem;
    }
}

@media only screen and (min-width: 70em) {
    .page-title h1 {
        padding-top: 6.875rem;
        padding-bottom: 6.875rem;
    }
}

@media only screen and (min-width: 90em) {
    .page-title h1 {
        font-size: 5.3125rem;
        padding-top: 8.125rem;
        padding-bottom: 8.125rem;
    }
}

/* Page content */

.page-content {
    margin: 0 auto;
    padding: 0 0 5rem;
}

.page-content > div:not(.page-title) {
    margin: 0 auto;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.page-content > div:not(.page-title) ul,
.page-content > div:not(.page-title) ol {
    padding-left: 1.25rem;
    font-size: 1.125rem;
}

.page-content > div:not(.page-title) h1,
.page-content > div:not(.page-title) h2,
.page-content > div:not(.page-title) h3,
.page-content > div:not(.page-title) h4,
.page-content > div:not(.page-title) h5,
.page-content > div:not(.page-title) h6 {
    font-weight: bold;
}

.page-content > div:not(.page-title) h1,
.page-content > div:not(.page-title) h2,
.page-content > div:not(.page-title) h3,
.page-content > div:not(.page-title) h4,
.page-content > div:not(.page-title) h5,
.page-content > div:not(.page-title) h6,
.page-content > div:not(.page-title) ul,
.page-content > div:not(.page-title) ol,
.page-content > div:not(.page-title) blockquote,
.page-content > div:not(.page-title) pre,
.page-content > div:not(.page-title) hr {
    max-width: 56.25rem;
    margin-left: auto;
    margin-right: auto;
}

.page-content > div:not(.page-title) p {
    margin: 0 auto 2em auto;
    max-width: 56.25rem;
    font-size: 1.125rem;
}

.page-content > div:not(.page-title) p:first-child {
    font-size: 1.375rem;
    font-weight: 300;
}

@media only screen and (min-width: 40.063em) {
    .page-content > div:not(.page-title) p:first-child {
        font-size: 1.625rem;
    }
}

.page-content > div:not(.page-title) p.with-image {
    text-align: center;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    max-width: 75rem;
}

@media screen and (max-width: 47em) {
    .page-title,
    .page-content {
        font-size: 70%;
    }
}

@media screen and (max-width: 27em) {
    .page-title,
    .page-content {
        font-size: 50%;
    }
}

.post-template .social-icons.row,
.page-template .social-icons.row {
    margin-left: auto;
    margin-right: auto;
}

.post-template .row,
.page-template .row {
    max-width: 58.125rem;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}

.post-template .row p,
.page-template .row p {
    margin: 0 auto 2em auto !important;
    max-width: 56.25rem !important;
    font-size: 1.125rem !important;
}

@media only screen and (min-width: 58.125em) {
    .post-template .row,
    .page-template .row {
        margin-left: auto;
        margin-right: auto;
    }
}

::selection {
    background: #e51843;
    color: #fff;
}

::-moz-selection {
    background: #e51843;
    color: #fff;
}

pre {
    word-wrap: break-word;
    margin-bottom: 1.5625rem;
}

iframe {
    border: 0;
}

.flex-video {
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
}

.post-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.post-list li {
    list-style: none;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    *zoom: 1;
}

.post-list li:after,
.post-list li:before {
    display: table;
    line-height: 0;
    content: "";
}

.post-list li:after {
    clear: both;
}

.post-list a > span {
    float: right;
}

.post-list .entry-date {
    display: none;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
}

@media only screen and (min-width: 48em) {
    .post-list .entry-date {
        display: inline;
    }
}

.tag-box {
    padding: 4px 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
    *zoom: 1;
}

.tag-box:after,
.tag-box:before {
    display: table;
    line-height: 0;
    content: "";
}

.tag-box:after {
    clear: both;
}

.tag-box.inline li {
    float: left;
    font-size: 14px;
    line-height: 2.5;
    list-style: none;
}

.tag-box a {
    padding: 4px 6px;
    margin: 2px;
    text-decoration: none;
    border: 0.0625rem solid black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tag-box a span {
    font-size: 10px;
    vertical-align: super;
    color: black;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    margin-bottom: 1.5rem;
}

.katex-display {
    width: 100%;
    display: flex;
    justify-content: center;
}
