---
layout: page.njk
permalink: /featured/
title: FEATURED POSTS
description: "An archive of featured posts"
eleventyExcludeFromCollections: true
---
{% set featuredcount = '0' %}
<ul class="post-list">
    {% for post in collections.posts %}
        {% if post.data.featured %}
            {% set featuredcount = featuredcount + 1 %}
            <li>
                <article>
                    <a href="{{ post.url }}">
                        <svg width="14" height="14" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                             style="vertical-align:middle;margin-right:6px;" aria-hidden="true">
                            <path d="M12 2l3.09 6.26L22 9.27l-5 4.88L18.18 22 12 18.56 5.82 22 7 14.15l-5-4.88 6.91-1.01L12 2z"/>
                        </svg>
                        {{ post.data.title }}
                        <span class="entry-date">
                            <time datetime="{{ post.date | date('Y-MM-dd\'T\'HH:mm:ssXXX') }}">
                                {{ post.date | date('MMMM D, yyyy') }}
                            </time>
                        </span>
                    </a>
                </article>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% if featuredcount == 0 %}
    <div class="notepad-page-title row">
        <h1>No posts has been featured yet</h1>
    </div>
{% endif %}
